{% extends "header_base.html" %}
{% load staticfiles %}
<body>
{% block content %}
	<div class="my_content">
		{% if verbs_list %}
			<table id="content">
				<tr>
					<th> Available Verbs 
						<a id="revelatorForm" href="#" data-reveal-id="myModalVerbForm" data-animation="fade">
							+
						</a>
					</th>
				</tr>
				{% for verb in verbs_list %}
					{% if forloop.counter0|divisibleby:2 %}
						<tr class="alt">
					{% else %}
						<tr>
					{% endif %}
					<td>  {{ verb.english_infinitive }} </td>
					<td>  {{ verb.italian_infinitive }} </td>
					<td>  {{ verb.italian_conjugation }} </td>
					<td>  {{ verb.italian_io }} </td>
					<td>  {{ verb.italian_tu }} </td>
					<td>  {{ verb.italian_lei }} </td>
					<td>  {{ verb.italian_noi }} </td>
					<td>  {{ verb.italian_voi }} </td>
					<td>  {{ verb.italian_essi }} </td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p> There are no verbs in your dictionary at the moment </p>
		{% endif %}
	</div>
	<div id="myModalVerbForm" class="reveal-modal">
		<div class="my_verb_adder">
			<form id="verb_form" action="{% url 'verbs:all_verbs' %}" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" name="save" value="Save Verb"/>
			</form>
		</div>
		<a class="close-reveal-modal">&#215;</a>
	</div>
{% endblock %}
</body>