{% extends "header_base.html" %}
{% load staticfiles %}
<body>
{% block content %}
	<a id="revelator" href="#" data-reveal-id="myModal" data-animation="fade"></a>
	<div class="my_content">
		{% if adjectives_list %}
			<table id="content" class="adjectiveContent">
				<tr>
					<th> Available Adjectives
						<a id="revelatorForm" href="#" data-reveal-id="myModalAdjectiveForm" data-animation="fade">
							+
						</a>
					</th>
				</tr>
				{% for adjective in adjectives_list %}
					{% if forloop.counter0|divisibleby:2 %}
						<tr class="alt">
					{% else %}
						<tr>
					{% endif %}
					<td attributeEF="{{ adjective.english }}" attributeISM="{{ adjective.italian_single_masculine }}"
					attributeISF="{{ adjective.italian_single_feminine }}" attributeIPM="{{ adjective.italian_plural_masculine }}"
					attributeIPF="{{ adjective.italian_plural_feminine }}">  
						{{ adjective.english }} - {{ adjective.italian_single_masculine }}
					</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p> 
				There are no adjectives in your dictionary at the moment 
				<a id="revelatorForm" href="#" data-reveal-id="myModalAdjectiveForm" data-animation="fade">
					New+
				</a>
			</p>
		{% endif %}
	</div>
	<div id="myModal" class="reveal-modal">
			<h1 >Reveal Modal Goodness</h1>
			<p>This is a default modal in all its glory, but any of the styles here can easily be changed in the CSS.</p>
			<a class="close-reveal-modal">&#215;</a>
	</div>
	<div id="myModalAdjectiveForm" class="reveal-modal">
		<div class="my_adjective_adder">
			<form id="adjective_form" action="{% url 'adjectives:all_adjectives' %}" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" name="save" value="Save Adjective"/>
			</form>
		</div>
		<a class="close-reveal-modal">&#215;</a>
	</div>
{% endblock %}
</body>